.pic {
  display: flex;
  width: 700px;
  height: 400px;

  padding: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 20px;
  padding-top: 150px;
}

.text {
  width: 200px;
  position: absolute;
  margin-left: 400px;
  margin-top: -600px;
  font-size: larger;
}
.text1 {
  width: 1000px;
  position: absolute;
  margin-left: 200px;
  margin-top: -400px;
  font-size: larger;
}

.text2 {
  position: absolute;
  margin-left: 200px;
  margin-top: -330px;
  font-size: larger;
}
input {
  margin-left: 200px;
  padding-right: 130px;
  padding-top: 15px;
  font-size: larger;
}
